<div class="comment" id="comment-item-{{ comment_.id }}">
    <div class="profile">
        <img src="https://avatar.iran.liara.run/public" alt="Profile">
        <span class="profile_name">{{ request.user.get_full_name }}</span>

        {% if request.user == comment_.author %}

        <span class="close"
              hx-delete="{% url 'comment' comment_.id %}"
              hx-trigger="click"
              hx-target="#comment-item-{{ comment_.id }}"
              hx-swap="innerHTML transition:true"
        >&times;</span>

        {% endif %}

    </div>
    <p>
        {{ comment_.content }}
    </p>
</div>