{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static './style.css' %}">
    <link rel="stylesheet" href="{% static './index.css' %}">
{% endblock %}
{% block title %}
    StoryHub | Share your story
{% endblock %}
{% block header %}
    {% include 'components/index-header.html' %}
{% endblock %}
{% block content %}
    <main>
        <section class="empty"></section>
        <section class="story">
            <div class="story-list">
                <div style="display: flex; align-items: center">
                    <a href="{% url 'index' %}">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="back-arrow">
                            <g>
                                <path d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"></path>
                            </g>
                        </svg>

                    </a>
                    <h2>Stories</h2>
                </div>

                <div id="list">


                    <div class="story-item">
                       {% include 'components/user-profile.html' with user=request.user story=story %}
                        <h3>{{ story.title }}</h3>
                        <p>{{ story.content | safe }}</p>
                        {% include 'components/story-tags.html' with story=story %}
                        {% include 'components/story-stats.html' with story=story %}
                    </div>

                    <div class="story-comment">
                        <h3>Comments</h3>
                        {% include 'components/comment-form.html' with story=story %}
                        <div id="comment-list">
                            {% for comment in story.get_comments %}
                                {% include 'components/comment.html' with comment=comment %}
                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <aside class="categories">
                {% include 'components/top-stories.html' with top_stories=top_stories %}
        </aside>

    </main>
{% endblock %}

{% block script %}
    <script>
            document.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });

            document.addEventListener('htmx:afterRequest', (event) => {
                document.getElementById('comment').value = '';
            });

    </script>
{% endblock %}