<section class="empty"></section>
<section class="story">
    <div class="story-list" id=>
        <div style="display: flex; align-items: center">
            <a href="{% url 'index' %}">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="back-arrow">
                    <g>
                        <path d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"></path>
                    </g>
                </svg>

            </a>

            <h2>Stories</h2>
        </div>
        <div id="list" hx-on::load="scrollToStories()">

            {% for story in stories %}

                <div class="story-item" id="story-item-{{ story.id }}">
                    <div class="profile">
                        <img src="https://avatar.iran.liara.run/public" alt="Profile">
                        <span class="profile_name">{{ story.author.get_full_name }}</span>
                        {% if request.user == story.author %}
                            <span class="close"
                                  hx-delete="{% url 'delete' story.id %}"
                                  hx-trigger="click"
                                  hx-target="#story-item-{{ story.id }}"
                                  hx-swap="innerHTML transition:true"
                            >&times;</span>
                        {% endif %}
                    </div>
                    <h3><a href="{% url 'detail' story.id %}">{{ story.title }}</a></h3>
                    <p>
                        {{ story.content | safe }}
                    </p>
                    <div class="tags">

                        {% if story.get_tags %}
                            <span># {{ story.get_tags }}</span>
                        {% endif %}

                    </div>
                    <div class="stats">
                        <p>
                                    <span
                                            hx-post="{% url 'like' story.id %}"
                                            hx-trigger="click"
                                            hx-target="#story-like-{{ story.id }}"
                                            hx-swap="outerHTML"
                                            class="like-btn"
                                    >♥️</span>
                            <span id="story-like-{{ story.id }}">{{ story.get_like_count }}</span> Likes
                        </p>
                        <p>
                            <span>💬</span>
                            <span>{{ story.get_comment_count }}</span> Comments
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>

<aside class="categories">
    <div class="tags">
        <h2>Tags</h2>
        <ul>

            {% for tag in most_popular_tag %}
                {% if tag.get_story_count > 0 %}
                    <li>
                        <a
                                hx-get="{% url 'list-by' tag.slug %}"
                                hx-trigger="click"
                                hx-target="#filter-by"
                                hx-swap="innerHTML"
                        ># {{ tag.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="top">
        <h2>Top Cas</h2>
        <ul>

            {% for story in top_stories %}
                <li>
                    <a href="{% url 'detail' story.id %}">{{ story.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</aside>