<section class="empty"></section>
<section class="story">
    <div class="story-list" id=>
        <div style="display: flex; align-items: center">
            <a href="{% url 'index' %}">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="back-arrow">
                    <g>
                        <path d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"></path>
                    </g>
                </svg>

            </a>

            <h2>Stories</h2>
        </div>
        <div id="list" hx-on::load="scrollToStories()">

            {% for story in stories %}

                <div class="story-item" id="story-item-{{ story.id }}">
                    {% include 'components/user-profile.html' with user=request.user story=story %}
                    <h3><a href="{% url 'detail' story.id %}">{{ story.title }}</a></h3>
                    <p>
                        {{ story.content | safe }}
                    </p>
                    {% include 'components/story-tags.html' with story=story %}
                    {% include 'components/story-stats.html' with story=story %}
                </div>
            {% endfor %}
        </div>

    </div>
</section>

<aside class="categories">
    {% include 'components/tags.html' with most_popular_tag=most_popular_tag %}
    {% include 'components/top-stories.html' with top_stories=top_stories %}
</aside>