{% extends 'base.html' %}
{% block content %}
    <h1>Settings</h1>
    <p id="message">
    </p>
    <input type="hidden" name="first_name" id="first_name" value="{{ request.user.first_name }}">
    <input type="hidden" name="last_name" id="last_name" value="{{ request.user.last_name }}">
    <p
            hx-post="{% url 'update-name' %}"
            hx-trigger="focusout delay:500ms"
            hx-swap="innerHTML"
            contenteditable="true"
            hx-include="#first_name"
            oninput="document.getElementById('first_name').value = this.innerText"
    >
        {{ request.user.first_name }}
    </p>

    <p

            hx-post="{% url 'update-name' %}"
            hx-trigger="focusout delay:500ms"
            hx-swap="innerHTML"
            contenteditable="true"
            hx-include="#last_name"
            oninput="document.getElementById('last_name').value = this.innerText"

    >
        {{ request.user.last_name }}
    </p>
    <p>{{ request.user.email }}</p>
    <form method="post">
        {% csrf_token %}

        <label for="password">Change Password</label>
        <input type="password" name="password" id="password" placeholder="**********">
        <button
                hx-post="{% url 'update-password' %}"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-target="#message"
                hx-include="#password"
        >update
        </button>
    </form>

    <script>
        document.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
{% endblock %}